

.rotating-box{
  display: flex;
  justify-content: center;

  .box{
    height: 80px;
    width: 80px;
    content: "";
    position: relative;
    display: inline-block;
    background-color: #69abab;
    animation: rotate 3000ms infinite ease-in-out;
    animation-delay: 500ms;
    opacity: 1;

    &:before,
    &:after {
      width: 80px;
      height: 80px;
      display: inline-block;
      content: "";
      position: absolute;
      background-color: #f44141;
      opacity: 0.5;
    }

    &:before{
      animation: rotate 3000ms infinite ease-in-out;
      animation-delay: 1000ms;
    }

    &:after{
      animation: rotate 3000ms infinite ease-in-out;
      background-color: #fff;
      opacity: 0.9;
    }

    @keyframes rotate{
      0%, 100%{
        transform: rotate(0deg);
      }

      50% {
        transform: rotate(360deg);
      }
    }
  }
}