

.button-menu {
  .wrapper{
    position: relative;
    width: 100%;
    display: flex; 
    justify-content: center;
  }

  button{
    -webkit-appearance: none;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: relative;
    background-color: #9effc9;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer; 
    &:focus, &:active{
      outline: none;
    }
    i{
      font-size: 32pt;
      color: #222;
    }
  }

  .menu-wrapper{
    position: absolute;
    top: calc(-100%);
    transform: scale(1);
    overflow: visible;
    transition: transform 300ms, top 300ms;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative;
      display: flex;
      flex-direction: row;
      z-index: 1;
      li{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 8px;
        padding: 2px 2px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #888;
        color: #222;

        &:nth-child(1),
        &:nth-child(3){
          top:28px;
          position: relative;
        }

        &:hover{
          animation: pulse infinite 2000ms;
        }

        i {
          color: #bbb;

          &.active {
            color: #eee;
          }
        }
      }
    }

    &.hidden{
      transform: scale(0);
      top: calc(30%);
      transition: transform 300ms, top 400ms;
    }

    @keyframes pulse{
      0%, 100%{
        transform: scale(1);
      }

      50% {
        transform: scale(1.1);
      }
    }
  }
}